In [3]:
import pandas as pd
import numpy as np
import urllib.request 
import json 
from pandas.io.json import json_normalize
import cx_Oracle
import math
from pandas._libs import index

In [5]:
set_url="http://api.odcloud.kr/api/15049997/v1/uddi:afa27fa9-0bf4-4a10-bd99-db1b5cc45caf?page=1&perPage=100&serviceKey=data-portal-test-key"
set_raw = urllib.request.urlopen(set_url)
set_raw = set_raw.read()
set_utf8 = set_raw.decode('utf-8', errors='ignore')
set_complete = json.loads(set_utf8)
total = math.ceil((set_complete['totalCount']/10))

In [6]:
merged_data = pd.DataFrame()

In [7]:
for x in range(total):
    url="http://api.odcloud.kr/api/15049997/v1/uddi:afa27fa9-0bf4-4a10-bd99-db1b5cc45caf?page=%s&perPage=100&serviceKey=data-portal-test-key" % (x)
    raw = urllib.request.urlopen(url)
    json_raw = raw.read()
    json_utf8 = json_raw.decode('utf-8')
    json_complete = json.loads(json_utf8)
    like_stat = pd.json_normalize(json_complete['data'])
    merged_data = pd.concat([merged_data, like_stat])
    
merged_data.drop("등록일시", axis=1, inplace=True)
#print(merged_data.iloc[1]
like_series = merged_data['여행일정'].value_counts()
like_data = pd.DataFrame(list(zip(like_series.index.tolist(), like_series.values.tolist())), columns=['location', 'likeCount'])

con_oracle = cx_Oracle.connect("mytest", "mytest", "localhost:1521/XEPDB1")
cursor = con_oracle.cursor()

for i in range(len(like_data)):
    selected_row = like_data.iloc[i]
    print("INSERT INTO likestat (ID, LOCATION, LIKE_COUNT) VALUES (stat_seq.nextval, '%s', '%d')" % (selected_row['location'], selected_row['likeCount']))
    cursor.execute("INSERT INTO likestat (ID, LOCATION, LIKE_COUNT) VALUES (stat_seq.nextval, '%s', '%d')" % (selected_row['location'], selected_row['likeCount']))
con_oracle.commit()

INSERT INTO likestat (ID, LOCATION, LIKE_COUNT) VALUES (stat_seq.nextval, '제주 동쪽 구석구석 마을여행', '2261')
INSERT INTO likestat (ID, LOCATION, LIKE_COUNT) VALUES (stat_seq.nextval, '제주 동부코스 1박 2일', '323')
INSERT INTO likestat (ID, LOCATION, LIKE_COUNT) VALUES (stat_seq.nextval, '제주의 자연을 만나는 여행', '323')
INSERT INTO likestat (ID, LOCATION, LIKE_COUNT) VALUES (stat_seq.nextval, '섬속의 섬 1박 2일 여행', '323')